<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="./logo-brand/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./logo-brand/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./logo-brand/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./logo-brand/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./logo-brand/logo-brand/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./logo-brand/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./logo-brand/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./logo-brand/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./logo-brand/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./logo-brand/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./logo-brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./logo-brand/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./logo-brand/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./logo-brand/ms-icon-144x144.png">
    <meta name="theme-color" content="#0f0f0f">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>dotRestaurant</title>
</head>

<body>
    <a href="#container-content" class="skipLink">Eksplorer Our Restaurant</a>
    <!-- Membuat navbar -->
    <navbar class="navbar">
        <div class="navbar-brand">
            <picture>
                <source type="image/webp" srcset="./logo-brand/apple-icon.webp">
                <source type="image/jpeg" srcset="./logo-brand/apple-icon.png">
                <img src="./logo-brand/apple-icon.png" alt="restaurant-logo" />
            </picture>
            
        </div>
        <div class="navbar-menu">
            <button id="tombol-menu" aria-label="tombol-menu"><p>☰</p></button>
        </div>
        <nav class="navbar-navigation" id="navigation-menu">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/saul-paulus" target="_blank" el="noreferrer">About</a></li>
            </ul>
        </nav>
    </navbar>
    <!-- Akhir membuat navbar -->

    <!-- Membuat main -->
    <div id="container-content"></div>
    <!-- Akhir membuat main -->
    <footer>
        <p>Copyright &copy; 2021 - RestaurantApps by saulPaulus</p>
    </footer>
    <!-- AKhir membuat footer -->
</body>
</html>
